# IDEs
.idea/
.vscode/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]

# Django
*.sqlite3
db.sqlite3
staticfiles/
media/

# Logs
*.log
logs/

# Environment variables
.env
.env.*
!.env.example

# Virtualenv
venv/
